* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/*PARTE DE CIMA*/



.header-detalhes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-detalhes i{
    text-decoration: none;
    color: #fff;
}

.pokemon-top{
    height: 38%;
    padding:  20px 20px 0 20px;
    display: flex;
    flex-direction: column;
}

.name-detalhes {
    text-transform: capitalize;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
}

.number-detalhes {
    color: #fff;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;

}

.types-detalhes {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 20px;
    margin: 0 0 20px 0;
    list-style: none;
}

.type-detalhe{
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0.25rem;
    font-size: .825rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.img-pokemon {
    max-width: 100%;
    height: 70%;
}


/*PARTE DE BAIXO*/
.infos {
    padding-top: 40px;
    height: 62%;
    background-color: #FFF;
    color: #4e4d4d;
    border-radius: 30px 30px 0 0 ;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 20px 0 20px 0;
}

li {
    list-style: none;
    margin: 0 15px 0 15px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}

.pokemon-stats li:hover {
    border-bottom: 3px solid #BCC2E8;
}

.active {
    border-bottom: 3px solid #BCC2E8;
}

table {
    display: flex;
    justify-content: center;
    margin: 15px;
    line-height: 2;
}

.title {
    padding-right: 6rem;
}

.item {
    color: #000;
}

th {
    padding: 20px 0 10px 0;
    text-align: left;
    color: #000;
}

.genero {
    display: flex;
    align-items: center;
}

.masculino {
    color: #BCC2E8; 
    padding-right: 25px;
}

.feminino {
    color: #EFB4CB; 
}

.icone{
    margin-right: 5px;
}

@media screen and (min-width:992px){

    .infos{
        border-radius: 1rem;
    }
}